/**
 * Body
 */
body {
    padding-top: 20px;
    /* background-color: #bfba9a; */
    background-color: #A2998B;
    color: #000002;
}

a {
    color: #4EA8D8;
}

a:hover, a:focus {
    color: #1D5F83;
}

#main h1, .h1 {
    color: #E8E6E2;
    font-weight: bold;
}
