<section id="title">
  <div class="container-fluid">
    <h1>Contact Us</h1>
    <ul class="pull-left breadcrumb">
      <li>
	<a href="/">Table of Contents</a>
      </li>
      <li>
	<a href="/#/contact">Contact Us</a>
      </li>
    </ul>
    <ul class="nav nav-pills pull-right">
      <li role="presentation" id="contact">
	<a href="/#/contact">Contact Us</a>
      </li>
      <li role="presentation" id="copyright">
	<a href="/#/copyright">Copyright</a>
      </li>
    </ul>
  </div>
</section>

<section id="content">

<section>
  <div class="container-fluid">
    <div class="container-fluid">
      <div id="status">
	{{ status }}
      </div>
    </div>
    <div class="container-fluid">
      <p>We welcome comments, questions, and suggestions for the Pure Food Project. Please feel free to contact us directly through e-mail, phone, or using the form below.</p>
    </div>
    <form id="contact" ng-submit="submit()">
      <div class="form-group">
	<label for="name">Your Name*</label>
	<input type="text" class="form-control" id="name" placeholder="Name" ng-model="message.name" name="name" required="true"  size="60" maxlength="128">
      </div>
      <div class="form-group">
	<label for="email">Your E-Mail Address*</label>
	<input type="email" class="form-control" id="email" placeholder="E-Mail Address" ng-model="message.email" name="email" required="true"  size="60" maxlength="128">
      </div>
      <div class="form-group">
	<label for="subject">Subject*</label>
	<input type="text" class="form-control" id="subject" placeholder="Subject" ng-model="message.subject" name="subject" required="true" size="60" maxlength="128">
      </div>
      <div class="form-group">
	<label for="message">Message*</label>
	<textarea id="message" name="message" cols="60" rows="5" class="form-textarea" required="true" ng-model="message.body"></textarea>
      </div>
      <input type="text" class="hidden" id="spam" ng-model="message.spam" name="spam">
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</section>
</section>
