<section id="title">
  <div class="container-fluid">
    <h1>Cottonseed Oil Exports</h1>
    <ul class="pull-left breadcrumb">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/#/cottonseed-exports">Cottonseed Oil Exports</a>
      </li>
    </ul>
    <ul class="nav nav-pills pull-right">
      <li role="presentation" id="contact">
        <a href="/#/contact">Contact Us</a>
      </li>
      <li role="presentation" id="copyright">
        <a href="/#/copyright">Copyright</a>
      </li>
    </ul>
  </div>
</section>

<section id="content" ng-controller="ParafController">
  <div class="container-fluid row">
    <div class="col-xs-10">
      <article>
        <paraf-map time-steps="3">
          <div class="container-fluid">
            <div id="cottonseed-exports-map" class="map"><img src="{{ currentLayer.src }}" /></div>
            <paraf-map-layer src="img/cottonseed_oil_exports_1880.jpg" />
            <paraf-map-layer src="img/cottonseed_oil_exports_1890.jpg" />
            <paraf-map-layer src="img/cottonseed_oil_exports_1900.jpg" />
            <paraf-step-label value="1880" />
            <paraf-step-label value="1890" />
            <paraf-step-label value="1900" />
          </div>
        </paraf-map>
      </article>
    </div>
    <div class="col-xs-2 row" id="map-legend">
      <div class="row">
        <div class="col-xs-12">
          <img src="img/cottonseed_oil_exports_legend.png" />
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid row">
    <div class="col-xs-12">
      <div class="container-fluid row time-slider-container">
        <div class="col-xs-1">
          <button id="prev-step" class="glyphicon glyphicon-play btn btn-default" type="button" ng-click="animate($event)"></button>
        </div>
        <div class="col-xs-1">
          <button id="prev-step" class="glyphicon glyphicon-backward btn btn-default" type="button" ng-click="prevLayer()"></button>
        </div>
        <div class="col-xs-9">
          <input type="text" class="" value="" id="input-time-slider" />
        </div>
        <div class="col-xs-1">
          <button id="next-step" class="glyphicon glyphicon-forward btn btn-default" type="button" ng-click="nextLayer()"></button>
        </div>
        <div class="time-slider-esri"></div>
      </div>

      <div class="container-fluid">
        <article>
          <div class="container-fluid">

            <p>These maps show the export flow of cottonseed oil from U.S. ports to the world from 1880 to 1900. Overall, the trade grew from two export cities in 1880 (New York and New Orleans) to nine in 1900 and from six global regional destinations to
              nine. That was an increase from 8 million to over 260 million pounds. The largest export stream went to Southern Europe across all twenty years (principally Italy and southern France). By 1900, northern European nations (The Netherlands,
              Belgium, and the UK) played a bigger part in the trade. Note that trade records show the British holding of Gibraltar in 1880 and 1890, but then directly to the UK in 1900.</p>
            <p>The width of the arrows represents the quantity of oil from tens of thousands to hundreds of millions of pounds. Because the specific locations (export locations) from trade records were too numerous to include with individual arrows, the
              maps show regional flows rather than specific national ones. Also note that inconsistency in record keeping leads to inconsistent labels for the export locations. Thus, some are continents, some are regions, and some are nations. We have
              sought to provide as much consistency as possible across the range of maps. Full data sets of the flow paths listing individual nations and quantities are <a href="#">here</a>.</p>
          </div>

          <div class="container-fluid">
            <ol id="notes">
              <li><i>Because trade records provide a wide range of quantities per year, for the sake of reader legibility the maps represent proportions. For example, an arrow five-hatch-marks wide is five orders of magnitude greater than an arrow with one hatch mark, while the width of the five-hatch arrow is five times the width of the one-hatch arrow. Readers can thus view the maps to gain a sense of growth in export markets, relative quantities to various parts of the world, and sense of scale in the global marketplace for supposed adulterants.</i></li>
              <li><i>The maps derive from government trade statistics that listed departure ports (export locations) and final destinations (import locations), but not together. For instance, while we know manufacturers shipped x pounds of cottonseed oil from New York in 1890, we do not know where, specifically, that specific quantity ended up. Therefore, the maps show the commodities shipped from each individual American port to meet in the middle of the Atlantic before dispersing to final destinations.</i></li>
              <li><i>The government statistics used to generate these maps documented foreign imports by country. Thus, in creating the maps the countries were aggregated into regions such as Northern Europe, Southern Europe, South America, Central America, Africa, and Asia. On the export side, various cities were aggregated into regions based on geographical proximity.</i></li>
            </ol>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
