<div class="container-fluid row">
  <div class="col-xs-12">
    <article>
      <div class="container-fluid">
	<div id="map">
	  <div id="map-home"></div>
	</div>
      </div>
    </article>
  </div>
</div>

<div class="container-fluid row">

  <div class="col-xs-7">
    <div class="container-fluid">
      
      <h3>Time Slider</h3>
      <div class="">
	<button id="backward" class="glyphicon glyphicon-backward btn btn-default" type="button"></button>
	<button id="play-pause" class="glyphicon glyphicon-play btn btn-default" type="button"></button>
	<button id="forward" class="glyphicon glyphicon-forward btn btn-default" type="button"></button>
      </div>
      <div class="">
	<input type="text" class="" value="" id="input-time-slider" />
      </div>
      <div class="" id="time-slider-esri"></div>
    </div>

    <div class="container-fluid">
      <article>
	<div class="container-fluid">
	  <p>Vivamus fermentum semper porta. Nunc diam velit, adipiscing ut tristique vitae, sagittis vel odio. Maecenas convallis ullamcorper ultricies. Curabitur ornare, ligula semper consectetur sagittis, nisi diam iaculis velit, id fringilla sem nunc vel mi. Nam dictum, odio nec pretium volutpat, arcu ante placerat erat, non tristique elit urna et turpis. Quisque mi metus, ornare sit amet fermentum et, tincidunt et orci. Fusce eget orci a orci congue vestibulum. Ut dolor diam, elementum et vestibulum eu, porttitor vel elit. Curabitur venenatis pulvinar tellus gravida ornare. Sed et erat faucibus nunc euismod ultricies ut id justo. Nullam cursus suscipit nisi, et ultrices justo sodales nec. Fusce venenatis facilisis lectus ac semper. Aliquam at massa ipsum. Quisque bibendum purus convallis nulla ultrices ultricies. Nullam aliquam, mi eu aliquam tincidunt, purus velit laoreet tortor, viverra pretium nisi quam vitae mi. Fusce vel volutpat elit. Nam sagittis nisi dui.</p>
	</div>
      </article>
    </div>
  </div>
  <div class="col-xs-5">
    <h3>Map Legend</h3>
    <img src="img/placeholder.png"/>
  </div>
</div>

<div class="container-fluid row">
  <div class="col-xs-7">
  </div>
</div>

<script type="text/javascript" src="/js/glucose-production.js"></script>
