<section id="title">
  <div class="container-fluid">
    <h1>Glucose Exports</h1>
    <ul class="pull-left breadcrumb">
      <li>
	<a href="/">Home</a>
      </li>
      <li>
	<a href="/#/cottonseed-exports">Glucose Exports</a>
      </li>
    </ul>
    <ul class="nav nav-pills pull-right">
      <li role="presentation" id="contact">
	<a href="/#/contact">Contact Us</a>
      </li>
      <li role="presentation" id="copyright">
	<a href="/#/copyright">Copyright</a>
      </li>
    </ul>
  </div>
</section>

<section id="content" ng-controller="ParafController">
  <div class="container-fluid row">
    <div class="col-xs-10">
      <article>
	<paraf-map time-steps="5">
	  <div class="container-fluid">
	    <div id="glucose-exports-map" class="map"><img src="{{ currentLayer.src }}" /></div>

	    <paraf-map-layer src="img/glucose_exports_1890.jpg" />
	    <paraf-map-layer src="img/glucose_exports_1895.jpg" />
	    <paraf-map-layer src="img/glucose_exports_1900.jpg" />
	    <paraf-map-layer src="img/glucose_exports_1905.jpg" />
	    <paraf-map-layer src="img/glucose_exports_1910.jpg" />

	    <paraf-step-label value="1890" />
	    <paraf-step-label value="1895" />
	    <paraf-step-label value="1900" />
	    <paraf-step-label value="1905" />
	    <paraf-step-label value="1910" />

	  </div>
	</paraf-map>
      </article>
    </div>
		<div class="col-xs-2 row" id="map-legend">
	    <div class="row">
	      <div class="col-xs-12">
		        <img src="img/glucose_exports_legend.png" />
	      </div>
	    </div>
		</div>
  </div>

  <div class="container-fluid row">
    <div class="col-xs-12">
      <div class="container-fluid row time-slider-container">
	<div class="col-xs-1">
	  <button id="prev-step" class="glyphicon glyphicon-play btn btn-default" type="button" ng-click="animate($event)"></button>
	</div>
	<div class="col-xs-1">
	  <button id="prev-step" class="glyphicon glyphicon-backward btn btn-default" type="button" ng-click="prevLayer()"></button>
	</div>
	<div class="col-xs-9">
	  <input type="text" class="" value="" id="input-time-slider" />
	</div>
	<div class="col-xs-1">
	  <button id="next-step" class="glyphicon glyphicon-forward btn btn-default" type="button" ng-click="nextLayer()"></button>
	</div>
	<div class="time-slider-esri"></div>
      </div>

      <div class="container-fluid">
      <article>
	<div class="container-fluid">
	  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et felis posuere, pulvinar sapien at, facilisis quam. Nulla sed congue lorem, lobortis laoreet eros. In fermentum elit justo, et convallis nisi sollicitudin ut. Donec tincidunt mattis mi, maximus porta nulla. Duis euismod mauris et ante sagittis, ac sollicitudin est faucibus. Donec consequat pulvinar ipsum consequat blandit. Mauris pretium vehicula nibh a tincidunt. Morbi at lorem a neque fermentum rhoncus.</p>
	  <p>Fusce interdum nec massa tincidunt congue. Morbi id lacus vitae augue rhoncus iaculis sed sit amet nisi. Pellentesque quis neque vestibulum, cursus mauris vitae, faucibus justo. Donec dignissim mollis libero. Fusce maximus nec eros eget faucibus. In pulvinar metus nisl, ac elementum nisi interdum at. Vestibulum gravida nulla lectus. Duis aliquam dui blandit iaculis mattis. Quisque venenatis dui non purus porta tincidunt. Duis placerat sapien sed magna dignissim, et elementum velit convallis. Aenean sed enim porta, lacinia mauris sit amet, malesuada dolor. Nullam et dui ornare, finibus felis eget, elementum mi. Etiam quis volutpat erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at ex sit amet nunc dapibus aliquam. Vestibulum posuere eros in vehicula vehicula.</p>
	</div>
      </article>
    </div>
  </div>
</div>

<!--<script type="text/javascript" src="/js/glucose-exports.js"></script>-->
