<section id="title">
  <div class="container-fluid">
    <h1>Oleomargarine Legislation</h1>
    <ul class="pull-left breadcrumb">
      <li>
	<a href="/">Home</a>
      </li>
      <li>
	<a href="/#/margarine-legislation">Oleomargarine Legislation</a>
      </li>
    </ul>
    <ul class="nav nav-pills pull-right">
      <li role="presentation" id="contact">
	<a href="/#/contact">Contact Us</a>
      </li>
      <li role="presentation" id="copyright">
	<a href="/#/copyright">Copyright</a>
      </li>
    </ul>
  </div>
</section>

<section id="content">

<div class="container-fluid row">
  <div class="col-xs-12">
    <article>
      <div class="container-fluid">
	<div id="map">
	  <div id="map-home"></div>
	</div>
      </div>
    </article>
  </div>
</div>

<div class="container-fluid row">

  <div class="col-xs-10">
    <div class="container-fluid row time-slider-container">
      <div class="col-xs-1">
	<button id="prev-step" class="glyphicon glyphicon-backward btn btn-default" type="button"></button>
      </div>
      <div class="col-xs-10">
	<input type="text" class="" value="" id="input-time-slider" />
      </div>
      <div class="col-xs-1">
	<button id="next-step" class="glyphicon glyphicon-forward btn btn-default" type="button"></button>
      </div>
      <div class="time-slider-esri"></div>
    </div>

    <div class="container-fluid">
      <article>
	<div class="container-fluid">
	  <p>These maps show the spread of state-level oleomargarine regulation in the later 1800s. Oleomargarine was invented in 1869 by the French chemist Hippolyte Mege-Mouries. The Mege Patent, as it came to be known, followed from research in animal fats and oils and a decree by Napoleon III to preserve milk supplies with a substitute for butter. In 1873, the first oleo factory opened in the United States when another French chemist, Alfred Paraf, stole the Mege Patent and claimed it as his own. (Chapter 1 tells his story.) Four years later, New York was the first state to regulate its production as a substitute for butter. Chapter 5 narrates the ways oleomargarine and butter grew in tandem within a protracted debate about artificial and natural products.</p>
	  <p>Oleomargarine legislation lasted deep into the twentieth century, by which point makers had dropped the “oleo” prefix and referred to it as margarine. Color laws were famous for dramatic gestures, requiring pink margarine in some cases or, as readers of a certain age may remember, a color packet that customers bought alongside the margarine at the store and mixed in the product at home. As recently as 2007, Quebec still had laws on the books prohibiting the manufacture of margarine. Those laws began in 1877. The series of legislative maps here span the first near-quarter century of regulation to show the base point from which twentieth century laws followed.</p>
	  <p>In addition to “no action,” there were four levels of regulation in the first quarter century of margarine sales. New York’s 1877 legislation required margarine producers to label their products as such. A second level of regulation required margarine producers either to color their product something other than white—purple was one of the first options—or not color it at all to keep it white. In either case, the point of color laws was to state that margarine producers could not sell “butter” yellow margarine. A third level of regulation taxed the margarine per pound. This became more prominent after U.S. Congress passed the federal 1886 Oleomargarine Law. A final level was to prohibit outright the production and sales of oleo, much as many states today prohibit raw milk.</p>
	</div>
      </article>
    </div>
  </div>
  <div class="col-xs-2 row" id="map-legend">
    <div class="row">
      <div class="col-xs-12">
	<h3>Type of Legislation</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-2 oleo-leg-class oleo-leg-class-null"></div>
      <div class="col-xs-10">No Legislation</div>
    </div>

    <div class="row">
      <div class="col-xs-2 oleo-leg-class oleo-leg-class-0"></div>
      <div class="col-xs-10">Labeling</div>
    </div>

    <div class="row">
      <div class="col-xs-2 oleo-leg-class oleo-leg-class-1"></div>
      <div class="col-xs-10">Coloring</div>
    </div>

    <div class="row">
      <div class="col-xs-2 oleo-leg-class oleo-leg-class-2"></div>
      <div class="col-xs-10">Taxation</div>
    </div>

    <div class="row">
      <div class="col-xs-2 oleo-leg-class oleo-leg-class-3"></div>
      <div class="col-xs-10">Prohibition</div>
    </div>
  </div><!-- /#map-legend -->
</div>

<div class="container-fluid row">
  <div class="col-xs-7">
  </div>
</div>
</section>
<script type="text/javascript" src="/js/margarine-legislation.js"></script>
