<section id="title">
  <div class="container-fluid">
    <h1>Butter and Oleomargarine Production</h1>
    <ul class="pull-left breadcrumb">
      <li>
	<a href="/">Home</a>
      </li>
      <li>
	<a href="/#/margarine-production">Butter and Oleomargarine Production</a>
      </li>
    </ul>
    <ul class="nav nav-pills pull-right">
      <li role="presentation" id="contact">
	<a href="/#/contact">Contact Us</a>
      </li>
      <li role="presentation" id="copyright">
	<a href="/#/copyright">Copyright</a>
      </li>
    </ul>
  </div>
</section>

<section id="content" ng-controller="MargarineProductionController">

<div class="container-fluid row">
  <div class="col-xs-12">
    <article>
      <div class="container-fluid">
	<div id="margarine-production-map" class="map">
	  <div id="margarine-production-home"></div>
	</div>
      </div>
    </article>
  </div>
</div>

<div class="container-fluid row">

  <div class="col-xs-10">
    <div class="container-fluid row time-slider-container" id="time-slider-container-butter-prod">
      <div class="col-xs-1">
	<button id="backward" class="glyphicon glyphicon-backward btn btn-default" type="button"></button>
      </div>
      <div class="col-xs-10">
	<input type="text" class="" value="" id="input-time-slider" />
      </div>
      <div class="col-xs-1">
	<button id="forward" class="glyphicon glyphicon-forward btn btn-default" type="button"></button>
      </div>
      <div class="time-slider-esri"></div>
    </div>

    <div class="container-fluid">
      <article>
	<div class="container-fluid">
	  <p>Vivamus fermentum semper porta. Nunc diam velit, adipiscing ut tristique vitae, sagittis vel odio. Maecenas convallis ullamcorper ultricies. Curabitur ornare, ligula semper consectetur sagittis, nisi diam iaculis velit, id fringilla sem nunc vel mi. Nam dictum, odio nec pretium volutpat, arcu ante placerat erat, non tristique elit urna et turpis. Quisque mi metus, ornare sit amet fermentum et, tincidunt et orci. Fusce eget orci a orci congue vestibulum. Ut dolor diam, elementum et vestibulum eu, porttitor vel elit. Curabitur venenatis pulvinar tellus gravida ornare. Sed et erat faucibus nunc euismod ultricies ut id justo. Nullam cursus suscipit nisi, et ultrices justo sodales nec. Fusce venenatis facilisis lectus ac semper. Aliquam at massa ipsum. Quisque bibendum purus convallis nulla ultrices ultricies. Nullam aliquam, mi eu aliquam tincidunt, purus velit laoreet tortor, viverra pretium nisi quam vitae mi. Fusce vel volutpat elit. Nam sagittis nisi dui.</p>
	</div>
      </article>
    </div>
  </div>
  <div class="col-xs-2 row" id="map-legend">
    <div class="row">
      <div class="col-xs-2 butter-prod-class butter-prod-class-null"></div>
      <div class="col-xs-10">No Data</div>
    </div>

    <div class="row">
      <div class="col-xs-2 butter-prod-class butter-prod-class-0"></div>
      <div class="col-xs-10">
	Less than 100,000 lbs.
      </div>
    </div>

    <div class="row">
      <div class="col-xs-2 butter-prod-class butter-prod-class-1"></div>
      <div class="col-xs-10">
	100,000 to 30 million lbs.
      </div>
    </div>

    <div class="row">
      <div class="col-xs-2 butter-prod-class butter-prod-class-2"></div>
      <div class="col-xs-10">
	To 60 million lbs.
      </div>
    </div>

    <div class="row">
      <div class="col-xs-2 butter-prod-class butter-prod-class-3"></div>
      <div class="col-xs-10">
	To 90 million lbs.
      </div>
    </div>

    <div class="row">
      <div class="col-xs-2 butter-prod-class butter-prod-class-4"></div>
      <div class="col-xs-10">
	Over 90 million lbs.
      </div>
    </div>
  </div><!-- /#map-legend -->
</div>

<div class="container-fluid row">
  <div class="col-xs-7">
  </div>
</div>
</section>
<!--<script type="text/javascript" src="/js/margarine-production.js"></script>-->
