<section id="title">
  <div class="container-fluid">
    <h1>Notes on Data Sets</h1>
    <ul class="pull-left breadcrumb">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/#/contact">Notes</a>
      </li>
    </ul>
    <ul class="nav nav-pills pull-right">
      <li role="presentation" id="contact">
        <a href="/#/contact">Contact Us</a>
      </li>
      <li role="presentation" id="copyright">
        <a href="/#/copyright">Copyright</a>
      </li>
    </ul>
  </div>
</section>

<section id="content">
  <article>
    <div class="container-fluid">
			<h2>Paraf's Itinerary</h2>

      <h3>Geospatial Data Sets</h3>
      <ul>
				<li>n.a. 2014. <i>Land, v3.0.1</i> (1:10 million). Shapefile. Made with Natural Earth. Free vector and raster map data @ <a href="//naturalearthdata.com">naturalearthdata.com</a>.</li>
				<li>Clark, J.H. &amp; Cohen B.R. 2016. <i>Paraf’s Itinerary - Shapefile</i>. Easton, PA: Digital Scholarship Services, David B. Skillman Library, Lafayette College.</li>
      </ul>

      <h3>Historical Map Images</h3>
      <ul>
				<li>Cartography Associates. <i>David Rumsey Map Collection.</i> <a href="//www.davidrumsey.com">http://www.davidrumsey.com</a>.
					<ul>
						<li>Ansart, E. 1875. <i>Plano De Santiago.</i> Paris: Erhard.</li>
						<li>Colton, G.W. 1874. “Boston and Adjacent Cities” in <i>Colton&#39;s General Atlas.</i> New York: G.W. &amp; C.B. Colton Co.</li>
						<li>Fullarton, A. &amp; Co. 1872. “City of Glasgow” inset from “Ports and Harbors on the West Coast of Scotland” [XXXII] in <i>The Royal Illustrated Atlas of Modern Geography.</i> London &amp; Edinburgh: A. Fullarton &amp; Co.</li>
						<li>Gray, O. W., et al. 1872. “Cleveland, Cayahoga County” in <i>New Topographical Atlas of the State of Ohio.</i> Cincinnati, OH: Stedman, Brown &amp; Lyon.</li>
						<li>Gray, O.W. 1884. “San Francisco” in <i>The National Atlas.</i> Philadelphia: Stedman &amp; Brown.</li>
						<li>Johnson, A.J. 1874. “New York and Brooklyn” in <i>Johnson&#39;s New Illustrated Family Atlas of the World.</i> New York: Alvin J. Johnson &amp; Co.</li>
						<li>Pissis, A. 1884. “Mapa de la Republica de Chile. 7.” in <i>Mapa de la Republica de Chile desde el Rio Loa hasta el Cabo de Hornos.</i> Santiago: P. Cadot.</li>
						<li>Vuillemin, A. &amp; J. Migeon. 1869. “Paris et son Mur d&#39;Enceinte” in <i>La France et ses Colonies. Atlas Illustre Cent Cartes.</i> Paris: J. Midgeon.</li>
					</ul>
				</li>
				<li>Bibliothèque nationale de France. <a href="//gallica.bnf.fr">http://gallica.bnf.fr</a>.
					<ul>
						<li>Edmond, C. 1844. <i>Plan de la Ville de Mulhouse exécuté d&#39;après le Plan d&#39;alignement autorisé par ordonnance Royale.</i> Mulhouse: Engelmann père &amp; fils.</li>
					</ul>
				</li>
				<li>Library of Congress. <a href="//www.loc.gov">https://www.loc.gov</a>.
					<ul>
						<li>Koch, A. 1875. <i>Bird’s eye view of Virginia City, Storey County, Nevada.</i> San Francisco: Britton, Rey &amp; Co.</li>
					</ul>
				</li>
				<li>Boston Public Library, Norman B. Leventhal Map Center, <a href="//www.leventhalmap.org/">http://www.leventhalmap.org/</a>.
					<ul>
						<li>Walling, H. F. 1875. <i>Map of the City of Providence, Rhode Island.</i> Providence, RI: Thompson, J. C.</li>
					</ul>
				</li>
      </ul>

      <h2>Oleomargarine Legislation</h2>
			<ul>
				<li>Clark J.H. and Plishka, M. 2014. <i>Oleomargarine Regulatory State Legislation, 1877-1899 - Shapefile.</i> Easton, PA: Digital Scholarship Services, David B. Skillman Library, Lafayette College.</li>
				<li><i>Historical state boundaries used in the creation of this Shapefile are from:</i>
					<ul>
						<li>Minnesota Population Center. <i>National Historical Geographic Information System: Version 2.0.</i> Minneapolis, MN: University of Minnesota 2011.</li>
					</ul>
				</li>
			</ul>

      <h2>Butter Production</h2>
			<ul>
				<li>Clark, J.H. and Plishka, M. 2014. <i>Oleomargarine Production Facilities in the United States, 1880 -1900 - Shapefile.</i> Easton, PA: Digital Scholarship Services, David B. Skillman Library, Lafayette College.</li>
				<li>Clark J.H. and Plishka, M. 2014. <i>United States Butter Production, 1870-1900 -Shapefile.</i> Easton, PA: Digital Scholarship Services, David B. Skillman Library, Lafayette College.</li>
				<li><i>Historical state boundaries used in the creation of this Shapefile are from:</i>
					<ul>
						<li>Minnesota Population Center. <i>National Historical Geographic Information System: Version 2.0.</i> Minneapolis, MN: University of Minnesota 2011.</li>
					</ul>
				</li>
			</ul>

      <h2>Cottonseed Oil Production</h2>
			<ul>
				<li>Siczewicz, P., Kelley, E. &amp; Long J.H. 2011. “U.S. Historical States and Territories. Edition 2.0. Digital-Shapefiles” in <i>Atlas of Historical County Boundaries.</i> John H. Long Ed. Chicago: Newberry Library <a href="//publications.newberry.org/ahcbp/">http://publications.newberry.org/ahcbp/</a>.</li>
				<li>Clark J.H. and Plishka, M. 2014. <i>Cottonseed Oil Crushing Mills, United States, 1860-1900 - Shapefile.</i> Easton, PA: Digital Scholarship Services, David B. Skillman Library, Lafayette College.</li>
				<li>Thomas, William G. <i>Historical GIS: The 1861-1870 Railroad System in America, State and National Shapefiles</i> in Railroads and the Making of Modern America. Lincoln, NE: University of Nebraska, Lincoln. <a href="//railroads.unl.edu/">http://railroads.unl.edu/</a>.</li>
				<li>Clark, J.H. 2015. U.S. Railroad System in Selected States, 1880-1900 - Shapefile. Easton, PA: Digital Scholarship Services, David B. Skillman Library, Lafayette College.</li>
				<li><i>U.S. Census of Agriculture cotton production by county, tabular and geographic datasets from:</i>
					<ul>
						<li>Minnesota Population Center. <i>National Historical Geographic Information System: Version 2.0.</i> Minneapolis, MN: University of Minnesota 2011.</li>
					</ul>
				</li>
			</ul>

      <h2>Cottonseed Oil Exports</h2>
			<ul>
				<li>U.S. Department of the Treasury. “Annual Report and Statements of the Chief of the Bureau of Statistics on the Foreign Commerce and Navigation, Immigration, and Tonnage of the United States.&quot; Washington, DC: GPO, 1885-1909.</li>
				<li>Page, H.R. &amp; Co. 1886. “Map of the World.” in <i>Illustrated Atlas Of Winnebago And Boone Counties, Illinois.</i> Chicago: H.R. Page &amp; Co.</li>
			</ul>

      <h2>Glucose Exports</h2>
			<ul>
				<li>U.S. Department of the Treasury. “Annual Report and Statements of the Chief of the Bureau of Statistics on the Foreign Commerce and Navigation, Immigration, and Tonnage of the United States.&quot; Washington, DC: GPO, 1885-1909.</li>
				<li>Page, H.R. &amp; Co. 1886. “Map of the World.” in <i>Illustrated Atlas Of Winnebago And Boone Counties, Illinois.</i> Chicago: H.R. Page &amp; Co.</li>
			</ul>

      <h2>Oleomargarine Exports</h2>
			<ul>
				<li>U.S. Department of the Treasury. “Annual Report and Statements of the Chief of the Bureau of Statistics on the Foreign Commerce and Navigation, Immigration, and Tonnage of the United States.&quot; Washington, DC: GPO, 1885-1909.</li>
				<li>Page, H.R. &amp; Co. 1886. “Map of the World.” in <i>Illustrated Atlas Of Winnebago And Boone Counties, Illinois.</i> Chicago: H.R. Page &amp; Co.</li>
			</ul>

      <h2>Oleo Oil Exports</h2>
			<ul>
				<li>U.S. Department of the Treasury. “Annual Report and Statements of the Chief of the Bureau of Statistics on the Foreign Commerce and Navigation, Immigration, and Tonnage of the United States.&quot; Washington, DC: GPO, 1885-1909.</li>
				<li>Page, H.R. &amp; Co. 1886. “Map of the World.” in <i>Illustrated Atlas Of Winnebago And Boone Counties, Illinois.</i> Chicago: H.R. Page &amp; Co.</li>
			</ul>
    </div>
  </article>
</section>
