<section id="title">
  <div class="container-fluid">
    <h1>Notes & Data</h1>
    <ul class="pull-left breadcrumb">
      <li>
	<a href="/">Home</a>
      </li>
      <li>
	<a href="/#/contact">Notes & Data</a>
      </li>
    </ul>
    <ul class="nav nav-pills pull-right">
      <li role="presentation" id="contact">
	<a href="/#/contact">Contact Us</a>
      </li>
      <li role="presentation" id="copyright">
	<a href="/#/copyright">Copyright</a>
      </li>
    </ul>
  </div>
</section>

<section id="content">

<article>

  <div class="container-fluid">
    <h2><u>Maps</u></h2>
    <p><i>References to the geospatial datasets used in the creation of the web-GIS maps are listed below.</i></p>
    <h3>Paraf's Itinerary</h3>

    <h4>Vector Data Layers</h4>
    <ul>
      <li>n.a.  2014. <i>Land, v3.0.1</i> (1:10 million). Shapefile. Made with Natural Earth. Free vector and raster map data @ <a href="//naturalearthdata.com">naturalearthdata.com</a>.</li>
      <li>Clark, J.H. & Cohen B.R. 2016. <i>Paraf’s Itinerary - Shapefile.</i> Easton, PA: Digital Scholarship Services, David B. Skillman Library, Lafayette College.</li>
    </ul>

    <h4>Historical Map Images</h4>


    <ul>
      <li><i>The following historical map images are from</i> Cartography Associates. David Rumsey Map Collection. <a href="http://www.davidrumsey.com">http://www.davidrumsey.com</a>. <i>They were georerenced for use as web map services and some warping of the original map image may have occurred.</i>
	<ul>
	  <li>Gray, O.W. 1884. <i>San Francisco.</i> Philadelphia: Steadman & Brown.</li>
	  <li>Colton, G.W. 1874. <i>Boston and Adjacent Cities.</i> New York: G.W. & C.B. Colton Co.</li>
	  <li>Johnson, A.J. 1886. <i>New York (City) and Brooklyn.</i> New York: Alvin J. Johnson & Co.</li>
	</ul>
      </li>
    </ul>

    <h3>Oleomargarine Legislation</h3>
    <ul>
      <li>Clark J.H. and Plishka, M. 2014. <i>Oleomargarine Regulatory State Legislation, 1877-1899 - Shapefile.</i> Easton, PA: Digital Scholarship Services, David B. Skillman Library, Lafayette College.</li>
      <li><i>Historical state boundaries used in the creation of this Shapefile are from:</i>
	<ul>
	  <li>Minnesota Population Center. <i>National Historical Geographic Information System: Version 2.0.</i> Minneapolis, MN: University of Minnesota 2011.</li>
	</ul>
      </li>
    </ul>

    <h3>Butter Production</h3>
    <ul>
      <li>Clark, J.H. and Plishka, M. 2014. <i>Oleomargarine Production Facilities in the United States, 1880 -1900 - Shapefile.</i> Easton, PA: Digital Scholarship Services, David B. Skillman Library, Lafayette College.</li>
      <li>Clark J.H. and Plishka, M. 2014. <i>United States Butter Production, 1870-1900 -Shapefile.</i> Easton, PA: Digital Scholarship Services, David B. Skillman Library, Lafayette College.</li>
      <li><i>Historical state boundaries used in the creation of this Shapefile are from:</i>
	<ul>
	  <li>Minnesota Population Center. <i>National Historical Geographic Information System: Version 2.0.</i> Minneapolis, MN: University of Minnesota 2011.</li>
	</ul>
      </li>
    </ul>

    <h3>Cottonseed Oil Production</h3>
    <ul>
      <li>Siczewicz, P., Kelley, E. & Long J.H. 2011. “U.S. Historical States and Territories. Edition 2.0. Digital-Shapefiles” in <i>Atlas of Historical County Boundaries.</i> John H. Long Ed. Chicago: Newberry Library <a href="http://publications.newberry.org/ahcbp/">http://publications.newberry.org/ahcbp/</a></li>
      <li>Clark J.H. and Plishka, M. 2014. <i>Cottonseed Oil Crushing Mills, United States, 1860-1900 - Shapefile.</i>  Easton, PA: Digital Scholarship Services, David B. Skillman Library, Lafayette College.</li>
      <li>Thomas, William G. <i>Historical GIS: The 1861-1870 Railroad System in America, State and National Shapefiles</i> in Railroads and the Making of Modern America. Lincoln, NE: University of Nebraska, Lincoln. <a href="http://railroads.unl.edu/">http://railroads.unl.edu/</a>.</li>
      <li>Clark, J.H. 2015. <i>U.S. Railroad System in Selected States, 1880-1900 - Shapefile.</i> Easton, PA: Digital Scholarship Services, David B. Skillman Library, Lafayette College.</li>
      <li><i>U.S. Census of Agriculture cotton production by county, tabular and geographic datasets from:</i>
	<ul>
	  <li>Minnesota Population Center. <i>National Historical Geographic Information System: Version 2.0.</i> Minneapolis, MN: University of Minnesota 2011.</li>
	</ul>
      </li>

    </ul>

  </div>
</article>
</section>
