<section id="title">
  <div class="container-fluid">
    <h1>Oleo Oil Exports</h1>
    <ul class="pull-left breadcrumb">
      <li>
	<a href="/">Home</a>
      </li>
      <li>
	<a href="/#/cottonseed-exports">Oleo Oil Exports</a>
      </li>
    </ul>
    <ul class="nav nav-pills pull-right">
      <li role="presentation" id="contact">
	<a href="/#/contact">Contact Us</a>
      </li>
      <li role="presentation" id="copyright">
	<a href="/#/copyright">Copyright</a>
      </li>
    </ul>
  </div>
</section>

<section id="content" ng-controller="ParafController">
  <div class="container-fluid row">
    <div class="col-xs-10">
      <article>
	<paraf-map time-steps="3">
	  <div class="container-fluid">
	    <div id="margarine-exports-map" class="map"><img src="{{ currentLayer.src }}" /></div>

	    <paraf-map-layer src="img/oil_exports_1890.jpg" />
	    <paraf-map-layer src="img/oil_exports_1900.jpg" />
	    <paraf-map-layer src="img/oil_exports_1910.jpg" />

	    <paraf-step-label value="1890" />
	    <paraf-step-label value="1900" />
	    <paraf-step-label value="1910" />

	  </div>
	</paraf-map>
      </article>
    </div>
		<div class="col-xs-2 row" id="map-legend">
	    <div class="row">
	      <div class="col-xs-12">
		        <img src="img/oil_exports_legend.png" />
	      </div>
	    </div>
		</div>
  </div>

  <div class="container-fluid row">
    <div class="col-xs-12">
      <div class="container-fluid row time-slider-container">
	<div class="col-xs-1">
	  <button id="prev-step" class="glyphicon glyphicon-play btn btn-default" type="button" ng-click="animate($event)"></button>
	</div>
	<div class="col-xs-1">
	  <button id="prev-step" class="glyphicon glyphicon-backward btn btn-default" type="button" ng-click="prevLayer()"></button>
	</div>
	<div class="col-xs-9">
	  <input type="text" class="" value="" id="input-time-slider" />
	</div>
	<div class="col-xs-1">
	  <button id="next-step" class="glyphicon glyphicon-forward btn btn-default" type="button" ng-click="nextLayer()"></button>
	</div>
	<div class="time-slider-esri"></div>
      </div>

    <div class="container-fluid">
      <article>
	<div class="container-fluid">
		<p>These maps show the growth in exports of raw oleo oil from the United States to other regions in the world from 1890 to 1910. The government distinguished these exports from finished oleomargarine (see this page), which producers also shipped by the thousands of tons to foreign markets.</p>
		<p>For oleo oil, the trade grew from three export ports in 1890 (Boston, New York, and Detroit) to nine in 1910 and from six main global regional destinations to eight. This was an increase from about 168 million pounds in the 1890s to nearly one billion (973 million) pounds by 1910. The great majority of foreign shipments went to The Netherlands, where Jurgens and Lever worked as a joint Anglo-Dutch company to lead global margarine markets. Germany and the U.K. remained as second and third place destinations through the period from 1890 to 1910. As with shipments of finished margarine, notable trends include a change in destination into the first decade of the twentieth century to include expanding markets in Asia, Central America, South America, and Africa. Full data sets of the flow paths listing individual nations and quantities are <a href="/#/notes">here</a>.</p>
	</div>
	<div class="container-fluid">
		<ol id="notes">
			<li><i>Because trade records provide a wide range of quantities per year, for the sake of reader legibility the maps represent proportions. For example, an arrow five-hatch-marks wide is five orders of magnitude greater than an arrow with one hatch mark, while the width of the five-hatch arrow is five times the width of the one-hatch arrow. Readers can thus view the maps to gain a sense of growth in export markets, relative quantities to various parts of the world, and sense of scale in the global marketplace for supposed adulterants.</i></li>
			<li><i>The maps derive from government trade statistics that listed departure ports (export locations) and final destinations (import locations), but not together. For instance, while we know manufacturers shipped x pounds of raw oleo oil from New York in 1890, we do not know where, specifically, that specific quantity ended up. Therefore, the maps show the commodities shipped from individual U.S. ports to meet in the Atlantic before dispersing to final destinations.</i></li>
			<li><i>In general, government statistics used to construct theses maps documented foreign imports by country. Thus, in creating these maps the countries were aggregated into regions such as Northern Europe, Southern Europe, South America, Central America, Africa, and Asia. On the export side, various cities were aggregated into regions based on geographical proximity. The full data sets show specific nations.</i></li>
		</ol>
	</div>
      </article>
    </div>
  </div>
</div>
</section>
