<section id="title">
  <div class="container-fluid">
    <h1>Paraf's Itinerary</h1>
    <ul class="pull-left breadcrumb">
      <li>
	<a href="/">Home</a>
      </li>
      <li>
	<a href="/#/paraf">Paraf's Itinerary</a>
      </li>
    </ul>
    <ul class="nav nav-pills pull-right">
      <li role="presentation" id="contact">
	<a href="/#/contact">Contact Us</a>
      </li>
      <li role="presentation" id="copyright">
	<a href="/#/copyright">Copyright</a>
      </li>
    </ul>
  </div>
</section>

<section id="content">
  <article ng-controller="ParafController">
    <h2> {{ event.name }} </h2>
    <div class="container-fluid" >
      
      <div class="row">
	<div id="location-content" class="col-xs-4">
	  <div class="container-fluid">
	    <h3 id="location">{{ event.name }}</h3>
	  </div>
	  <div ng-bind-html="event.content"></div>
	</div>
	<div class="col-xs-8">
	  <article>
	    <div class="container-fluid">
	      <p>This is the Paraf Itinerary. Chapter 1 of the book includes the story of the Chevalier Alfred Paraf. He was a chemist and con man who travelled from his 1844 birthplace in Mulhouse, near the Rhine River in present-day France, to the United States, then across North America, and finally to South America where he died in 1885. The sixteen-step itinerary here follows his path with snapshots of his main stopping points. The travelogue maps his efforts, investments, patents, scams, and accrual of foes.</p>
	    </div>
	  </article>
	  
	  <div class="container-fluid row">
	    <div class="col-xs-12">
	      <article>
		<paraf-map time-steps="16">
		  <div class="container-fluid">
		    <div id="margarine-exports-map" class="map"><img src="{{ currentLayer.src }}" /></div>
		    <paraf-map-layer src="img/placeholder.png" />

		    <paraf-step-label value="1844" />
		    <paraf-step-label value="1863" />
		    <paraf-step-label value="1864" />

		    <paraf-step-label value="1867" />
		    <paraf-step-label value="1868" />
		    <paraf-step-label value="1868" />
		    <paraf-step-label value="1869" />

		    <paraf-step-label value="1869" />
		    <paraf-step-label value="1869" />
		    <paraf-step-label value="1870" />
		    <paraf-step-label value="1873" />

		    <paraf-step-label value="1873" />
		    <paraf-step-label value="1875" />
		    <paraf-step-label value="1876" />
		    <paraf-step-label value="1877" />
		    <paraf-step-label value="1879" />
		  </div>
		</paraf-map>
	      </article>
	    </div>
	  </div>
	  
	  <div class="container-fluid row">
	    <div class="col-xs-10">
	      <div class="container-fluid row time-slider-container">
		<div class="col-xs-1">
		  <button id="prev-step" class="glyphicon glyphicon-play btn btn-default" type="button" ng-click="animate($event)"></button>
		</div>
		<div class="col-xs-1">
		  <button id="prev-step" class="glyphicon glyphicon-backward btn btn-default" type="button" ng-click="prevLayer()"></button>
		</div>
		<div class="col-xs-9">
		  <input type="text" class="" value="" id="input-time-slider" />
		</div>
		<div class="col-xs-1">
		  <button id="next-step" class="glyphicon glyphicon-forward btn btn-default" type="button" ng-click="nextLayer()"></button>
		</div>
		<div class="time-slider-esri"></div>
	      </div>
	    </div>

	  </div>
	</div>
      </div>
    </div>
  </article>
</section>
<!--<script type="text/javascript" src="/js/paraf.js"></script>-->
