.row(ng-controller="StoryMapController")
  #location-content.col-xs-2
    include ./map_content.jade
  story-map#map.col-xs-10
    story-layer(url="//geo.stage.lafayette.edu/arcgis/rest/services/clarkjh/Paraf_Test1_land/MapServer")
    story-layer(url="//geo.stage.lafayette.edu/arcgis/rest/services/clarkjh/Paraf_Test1_base/MapServer")
    story-layer(url="//geo.stage.lafayette.edu/arcgis/rest/services/clarkjh/Paraf_Test1_Boston/MapServer")
    story-layer(url="//geo.stage.lafayette.edu/arcgis/rest/services/clarkjh/Paraf_Test1_itinerary/MapServer")
