{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
  ],

  "plugins": [
    "@babel/plugin-transform-spread",
    "add-module-exports",
  ],

  "ignore": [
    "**/node_modules/**/*",
    "**/*.scss"
  ]
}
