.NavContainer {
  background-image: linear-gradient(to bottom, #545454, #333333);
  border: none;
  border-radius: 0;
}
/**
 * Navbar
 *
 */

// .navbar-header {
//     float: inherit;
// }


// #navbar-share-auth li a {
//     color: #ddd;
// }

// #navbar-menu li .dropdown-menu {
//     background-color: #222;
//     margin-top: 0px;
//     min-width: 100%;
// }

// #navbar-share-auth li {
//     display: inline-block;
//     text-align: center;
//     width: 50%;
// }

// #navbar-share-auth li a {
//     padding: 6px 6px;
// }

// #navbar-share-auth li img {
//     max-height: 32px;
// }

// #share {
//     float: right;
// }

// #share ul li {
//     display: inline-block;
//     width: 100%;
//     text-align: left;
// }
