/* app css stylesheet */

body {
  padding-top: 20px;
  background-color: #bfba9a;
}

/**
 * Header
 */

#header-container {
    width: 100%;
    background-color: #ffffff;
    background-image: url("../img/pure_food_header_3.png");
}

#header-container h1,
#header-container h2 {
    float: right;
    clear: both;
}

#header-container a {
    /* color: #522929 */
    color: #ffffff;
}

.navbar-header {
    float: inherit;
}

.navbar-brand {
    height: 64px;
    padding: 8px;
}

.navbar-brand img {
    height: 48px;
}

#navbar-menu {
    height: 64px;
}

#navbar-menu li {
    padding: 2px;
}

#navbar-menu li a {
    text-align: center;
    height: 64px;
    font-size: x-large;
    color: #ffffff;
}

/**
 * Content
 */
#main {
    padding-left: 48px;
    padding-right: 48px;
}

#title .container-fluid {
    padding-left: 20px;
    padding-right: 20px;
}

.nav-pills > li > a {
    background-color: #ffffff;
}

#content {
    background-color: #ffffff;
    border-radius: 4px;
    margin-bottom: 16px;
    margin-top: 16px;
    padding: 4px 8px;
}

#location-desc {
    max-height: 340px;
    overflow: scroll;
    text-align: left;
}

#location-content {
    text-align: center;
}

#map {
    height: 640px;
}

#footer-navbar {
    text-align: center;
    margin-bottom: 0px;
}

.thumb {
  float: left;
  margin: -0.5em 1em 1.5em 0;
  padding-bottom: 1em;
  height: 100px;
  width: 100px;
}

ul.specs {
  clear: both;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.specs > li{
  display: inline-block;
  width: 200px;
  vertical-align: top;
}

ul.specs > li > span{
  font-weight: bold;
  font-size: 1.2em;
}

ul.specs dt {
  font-weight: bold;
}
