/**
 * Body
 */
body {
  padding-top: 20px;
  /* background-color: #bfba9a; */
  background-color: #A2998B;
  color: #000002; }

a {
  color: #4EA8D8; }

a:hover, a:focus {
  color: #1D5F83; }

#main h1, .h1 {
  color: #E8E6E2;
  font-weight: bold; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: "Lato",sans-serif; }

/**
 * Header
 */
#header-container {
  width: 100%;
  background-color: #ffffff;
  background-image: url("../img/pure_food_header_3.png"); }

#header-container h1,
#header-container h2 {
  float: right;
  clear: both; }

#header-container a {
  /* color: #522929 */
  color: #ffffff; }

/**
 * Navbar
 *
 */
#navbar-container {
  background-image: linear-gradient(to bottom, #545454, #333333);
  border: medium none;
  border-radius: 0; }

.navbar-header {
  float: inherit; }

.navbar-brand {
  height: 64px;
  padding: 8px; }

.navbar-brand img {
  height: 48px; }

#navbar-menu {
  height: 64px; }
  #navbar-menu li {
    padding-left: 2px;
    padding-right: 2px; }
    #navbar-menu li a {
      text-align: center;
      height: 64px;
      font-size: 1.2em;
      color: #ffffff;
      line-height: 32px; }

#navbar-share-auth li a {
  color: #ddd; }

#navbar-menu li .dropdown-menu {
  background-color: #222;
  margin-top: 0px; }

#navbar-share-auth li {
  display: inline-block;
  text-align: center;
  width: 50%; }

#navbar-share-auth li a {
  padding: 6px 0 0; }

#navbar-share-auth li img {
  max-height: 32px; }

#share {
  float: right; }

#share ul li {
  display: inline-block;
  width: 100%;
  text-align: left; }

/**
 * Bootstrap work-around
 *
 */
.media-body, .media-left, .media-right {
  display: table-cell;
  vertical-align: top; }

.media-left, .media > .pull-left {
  padding-right: 10px; }

html, body {
  font-family: "Roboto",sans-serif; }

/**
 * Content
 */
#main {
  padding-left: 48px;
  padding-right: 48px; }

#title .container-fluid {
  padding-left: 20px;
  padding-right: 20px; }

.nav-pills > li > a {
  background-color: #ffffff; }

/**
 * Content Section
 *
 */
#content {
  background-color: #ffffff;
  border-radius: 4px;
  margin-bottom: 16px;
  margin-top: 16px;
  padding: 4px 8px; }

#breadcrumbs {
  font-weight: inherit; }

/**
 * Footer
 *
 */
#footer-navbar {
  text-align: center;
  margin-bottom: 0px; }

.thumb {
  float: left;
  margin: -0.5em 1em 1.5em 0;
  padding-bottom: 1em;
  height: 100px;
  width: 100px; }

ul.specs {
  clear: both;
  margin: 0;
  padding: 0;
  list-style: none; }

ul.specs > li {
  display: inline-block;
  width: 200px;
  vertical-align: top; }

ul.specs > li > span {
  font-weight: bold;
  font-size: 1.2em; }

ul.specs dt {
  font-weight: bold; }

/**
 * Contact form
 *
 */
#contact input {
  width: 206px; }

#message {
  display: block; }

/**
 * Time Slider
 *
 */
.time-slider-container .btn {
  /* margin-top: 42%; */
  /* margin: 12% 0; */
  margin: 18px 0; }

/* @todo Refactor */
#time-slider-container-butter-prod .btn {
  /* margin-top: 42%; */ }

.slider-tick.round {
  border-radius: inherit;
  width: 12px; }

.slider.slider-horizontal .slider-tick, .slider.slider-horizontal .slider-handle {
  margin-left: 0; }

.slider-handle {
  margin-left: -10px !important; }

/**
 * Paraf's Itinerary
 *
 */
#location-desc {
  max-height: 340px;
  text-align: left; }

#location-content {
  text-align: center; }

.map-controls {
  text-align: center; }

.map-controls button {
  width: 176px;
  min-height: 64px; }

#map-legend .row {
  margin-bottom: 8px;
  margin-top: 8px; }

/**
 * ArcGIS Interface
 *
 */
.map {
  text-align: center; }
  .map img {
    width: 100%; }

#margarine-legislation-home, #margarine-production-home, #cottonseed-production-home {
  position: absolute;
  top: 93px;
  left: 20px;
  z-index: 50;
  border: 1px solid #57585a;
  border-radius: 5px;
  text-align: center; }

.HomeButton .home {
  border-radius: inherit; }

/**
 * Timeslider
 *
 */
.esriTimeSlider {
  z-index: -1; }

.slider.slider-horizontal {
  width: 100%;
  height: 64px; }

.slider.slider-horizontal .slider-track {
  height: 10px; }

/*
.slider.slider-horizontal .slider-track {
    width: 100%;
}
*/
.slider-handle {
  /*
    height: 12px;
    width: 12px;
    */
  height: 0px;
  width: 0px; }

/**
 *
 *
 */
#map-tab-panes .tab-pane img {
  /* height: 540px; */ }

/**
 * OpenSeadragon
 *
 */
#osd-viewer .openseadragon-container fieldgroup {
  left: 20px;
  top: 20px;
  -moz-user-select: none;
  background-color: #fff;
  border: 1px solid #57585a;
  border-radius: 5px;
  color: #4c4c4c;
  position: absolute;
  text-align: center; }

#osd-viewer .openseadragon-container fieldgroup button[title="Previous page"],
#osd-viewer .openseadragon-container fieldgroup button[title="Next page"] {
  display: none !important; }

#osd-viewer .esriSimpleSliderTL {
  left: inherit;
  top: inherit;
  margin-left: 20px;
  margin-top: 20px; }

#osd-viewer #map-home {
  left: inherit;
  top: inherit;
  margin-left: 20px;
  margin-top: 93px; }

/*
.esriSimpleSlider {
    -moz-user-select: none;
    background-color: #fff;
    border: 1px solid #57585a;
    border-radius: 5px;
    color: #4c4c4c;
    position: absolute;
    text-align: center;
}
*/
.esriSimpleSliderVertical .esriSimpleSliderIncrementButton {
  border-bottom: 1px solid #57585a;
  border-radius: 5px 5px 0 0; }

.esriSimpleSlider div {
  -moz-user-select: none;
  cursor: pointer;
  font-family: verdana,helvetica;
  font-size: 24px;
  height: 30px;
  line-height: 25px;
  width: 30px; }

/*
.slider-tick {
    height: 32px;
    width: 32px;
}
*/
.slider.slider-horizontal .slider-tick-label-container {
  margin-top: 52px; }

/**
 * Oleomargarine Legislation
 *
 */
.oleo-leg-class {
  display: inline-block;
  height: 24px;
  padding: 8px;
  border: 1px solid; }

.oleo-leg-class-null {
  background-color: #e1e1e1; }

.oleo-leg-class-0 {
  background-color: #edf8fa; }

.oleo-leg-class-1 {
  background-color: #b2e2e2; }

.oleo-leg-class-2 {
  background-color: #65c2a5; }

.oleo-leg-class-3 {
  background-color: #248b46; }

/**
 * Butter Production
 *
 */
.butter-prod-class {
  display: inline-block;
  height: 24px;
  padding: 8px;
  border: 1px solid; }

.butter-prod-class-null {
  background-image: url("../img/butter_prod_class_null.png"); }

.butter-prod-class-0 {
  background-color: #ffffe5; }

.butter-prod-class-1 {
  background-color: #fff7bc; }

.butter-prod-class-2 {
  background-color: #fee391; }

.butter-prod-class-3 {
  background-color: #fec44f; }

.butter-prod-class-4 {
  background-color: #fe9929; }

#map-legend-factories {
  text-align: center; }

#map-legend img {
  width: 100%; }

/**
 * Cottonseed Oil Production
 *
 */
.cottonseed-prod-legend h3 {
  font-size: large; }

.cottonseed-prod-class {
  display: inline-block;
  /*
    height: 24px;
    padding: 8px;
    */
  /* border: 1px solid; */ }

.cottonseed-prod-mills-1 {
  background-color: #e60000;
  border-radius: 50%;
  /* border-width: 0; */
  height: 12px;
  width: 12px;
  padding: 0;
  position: relative;
  /* left: 36px; */
  /* bottom: 4px; */ }

.cottonseed-prod-mills-3 {
  background-color: #e60000;
  border-radius: 50%;
  /* border-width: 0; */
  height: 18px;
  width: 18px;
  padding: 0;
  position: relative;
  /* left: 32px; */
  /* bottom: 6px; */ }

.cottonseed-prod-bales {
  border-width: 0;
  text-align: center;
  vertical-align: top; }

.cottonseed-prod-bales-dot {
  background-color: #006100;
  display: inline-block;
  height: 3px;
  width: 3px;
  padding: 0;
  margin-bottom: 100%;
  /* This should be random() from Sass */
  /* This should also be random() from Sass */
  /* margin-left: 4%; */
  margin-left: 0%; }

.cottonseed-prod-railroads {
  border-width: 0;
  background-color: #b2b2b2;
  padding-left: 0;
  padding-right: 0; }

.cottonseed-prod-railroads-track {
  border: 0px solid #e0e0e0;
  border-left-width: 0px;
  border-right-width: 0px;
  display: inline-block;
  height: 1.5px;
  margin-bottom: 4px;
  width: 100%;
  background-color: #e0e0e0; }
