/**
 * Cottonseed Oil Production
 *
 */

$mills-legend-color: #d95f02;
$bales-legend-color: #1b9e77;

.cottonseed-prod-legend h3 {
    font-size: large;
}

.cottonseed-prod-class {
    display: inline-block;
    /*
    height: 24px;
    padding: 8px;
    */
    /* border: 1px solid; */
}

.cottonseed-prod-mills-1 {
    background-color: $mills-legend-color;
    border-radius: 50%;
    /* border-width: 0; */
    height: 12px;
    width: 12px;
    padding: 0;
    position: relative;
    /* left: 36px; */
    /* bottom: 4px; */
    
}
.cottonseed-prod-mills-3 {
    background-color: $mills-legend-color;
    border-radius: 50%;
    /* border-width: 0; */
    height: 18px;
    width: 18px;
    padding: 0;
    position: relative;
    /* left: 32px; */
    /* bottom: 6px; */

}

.cottonseed-prod-bales {
    border-width: 0;
    text-align: center;
    vertical-align: top;
}

.cottonseed-prod-bales-dot {
    background-color: $bales-legend-color;
    display: inline-block;
    height: 3px;
    width: 3px;
    padding: 0;

    margin-bottom: 100%; /* This should be random() from Sass */
    /* This should also be random() from Sass */
    /* margin-left: 4%; */
    margin-left: 0%;
}

.cottonseed-prod-railroads {
    border-width: 0;
    background-color: rgb(178, 178, 178);
    padding-left: 0;
    padding-right: 0;
}

.cottonseed-prod-railroads-track {
    border: 0px solid rgb(224, 224, 224);
    border-left-width: 0px;
    border-right-width: 0px;
    display: inline-block;
    height: 1.5px;
    margin-bottom: 4px;
    width: 100%;
    background-color: rgb(224, 224, 224);
}
