
/**
 * Oleomargarine Legislation
 *
 */
.oleo-leg-class {
    display: inline-block;
    height: 24px;
    padding: 8px;
    border: 1px solid;
}

.oleo-leg-class-null {
    background-color: #e1e1e1;
}
.oleo-leg-class-0 {
    background-color: #edf8fa;
}
.oleo-leg-class-1 {
    background-color: #b2e2e2;
}
.oleo-leg-class-2 {
    background-color: #65c2a5;
}
.oleo-leg-class-3 {
    background-color: #248b46;
}
