@import "../../scss/variables";

#navbar {
  $navbar-item-color: $white;
  $navbar-item-hover-color: #222;

  &-container {
    background-image: linear-gradient(to bottom, #545454, #333333);
    border: medium none;
    border-radius: 0;
  }

  // maybe #navbar-menu items should be in /src/components/NavbarLink?
  &-menu {
    height: 64px;

    li {
      padding-left: 2px;
      padding-right: 2px;

      &.open {
        > a {
          color: $navbar-item-hover-color;
        }
      }

      a {
        text-align: center;
        height: 64px;
        font-size: 1.2em;
        color: $navbar-item-color;
        line-height: 42px;

        &:active,
        &:focus,
        &:hover {
          color: $navbar-item-hover-color;
        }
      }

      .dropdown-menu {
        background-color: #222;
        margin-top: 0px;
        min-width: 100%;
      }

      .dropdown-toggle path {
        fill: $navbar-item-color;
        stroke: none;
      }

      &:active,
      &:focus,
      &:hover {
        .dropdown-toggle path {
          fill: $navbar-item-hover-color;
        }
      }
    }
  }
}
    
.navbar-brand {
  height: 64px;
  padding: 8px;

  img {
    height: 48px;
  }
}

.navbar-header {
  float: inherit;
}
