nav#footer-navbar.navbar.navbar-inverse
  .container-fluid.row
    ul.nav.navbar-nav.col-xs-12.row
      li.col-xs-4
        a(href="//digital.lafayette.edu") Digital Scholarship Services
      li.col-xs-4
        a(href="//library.lafayette.edu") Skillman Library
      li.col-xs-4
        a(href="//lafayette.edu") Lafayette College
