$tan-dark: #a2998b;
$tan-light: #e8e6e2;
$black: #000002;
$blue-light: #4ea8d8;
$blue-dark: #1d5f83;
$white: #ffffff;

$body-background-color: $tan-dark;

$link-color: $blue-light;
$link-hover-color: $blue-dark;

$main-heading-color: $tan-light;
$heading-font-family: "Lato", sans-serif;

$header-container-background-color: $white;
$header-container-background-image: url('/img/pure_food_header_3.png');
$header-container-link-color: $white;