@import "variables";
@import "reset";

// import individual components here instead of relying on
// webpack to suss them out (this makes server-side compilation
// a bit easier)
@import "Chapter/style.scss";
@import "HeaderContainer/style.scss";
@import "Navbar/style.scss";
@import "NavContainer/style.scss";
@import "~bootstrap-slider/dist/css/bootstrap-slider.min.css";
@import "TimelineSlider/style.scss";
@import "WrappedRoute/style.scss";


// global scss // styles that should eventually find their way into components
.map img {
  width: 100%;
}

.map-legend-container img {
  width: 100%;
}

figure img {
  margin-bottom: 1rem;
  width: 100%;
}

figcaption {
  font-size: 1.25rem;
  font-style: italic;
}