
/**
 * Bootstrap work-around
 *
 */
.media-body, .media-left, .media-right {
    display: table-cell;
    vertical-align: top;
}
.media-left, .media > .pull-left {
    padding-right: 10px;
}

html, body {
	font-family: "Roboto", sans-serif;
	font-size: 1.0em;
}

/**
 * Content
 */
#main {
    padding-left: 48px;
    padding-right: 48px;
}

#title .container-fluid {
    padding-left: 20px;
    padding-right: 20px;
}

.nav-pills > li > a {
    background-color: #ffffff;
}


/**
 * Content Section
 *
 */
#content {
    background-color: #ffffff;
    border-radius: 4px;
    margin-bottom: 16px;
    margin-top: 16px;
    padding: 4px 8px;

		.container-fluid {
			padding-top: 15px;
			padding-bottom: 15px;
		}

		#home {
			/* font-size: 1.2em; */
		}
}

#breadcrumbs {
  font-weight: inherit;
}

#notes {
	padding-left: 12px;
	padding-right: 12px;
	font-size: smaller;
}
