/**
 * Header
 */
#header-container {
    width: 100%;
    background-color: #ffffff;
    background-image: url("../img/pure_food_header_3.png");
}

#header-container h1,
#header-container h2 {
    float: right;
    clear: both;
}

#header-container a {
    color: #ffffff;
}
