
/**
 * Navbar
 *
 */
#navbar-container {
    background-image: linear-gradient(to bottom, #545454, #333333);
    border: medium none;
    border-radius: 0;
}

.navbar-header {
    float: inherit;
}

.navbar-brand {
    height: 64px;
    padding: 8px;
}

.navbar-brand img {
    height: 48px;
}

#navbar-menu {
	height: 64px;

	li {
		padding-left: 2px;
	  padding-right: 2px;

		a {
			text-align: center;
		  height: 64px;
		  font-size: 1.2em;
		  color: #ffffff;
			line-height: 32px;
		}
	}
}

#navbar-share-auth li a {
    color: #ddd;
}

#navbar-menu li .dropdown-menu {
    background-color: #222;
    margin-top: 0px;
}

#navbar-share-auth li {
    display: inline-block;
    text-align: center;
    width: 50%;
}

#navbar-share-auth li a {
    padding: 6px 0 0;
}

#navbar-share-auth li img {
    max-height: 32px;
}

#share {
    float: right;
}

#share ul li {
    display: inline-block;
    width: 100%;
    text-align: left;
}
