doctype html
html(lang="en")
  head
    title Pure Food
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='css/app.css')
    link(rel="stylesheet", href="//js.arcgis.com/3.15/dijit/themes/tundra/tundra.css")
    link(rel="stylesheet", href="//js.arcgis.com/3.15/esri/css/esri.css")
    link(rel="stylesheet", href="//geo.stage.lafayette.edu/arcgis/rest/static/jsapi.css")

    script(src='bower_components/jquery/dist/jquery.js')
    script(src='//js.arcgis.com/3.15/init.js')

    script(src='bower_components/angular/angular.js')
    script(src='bower_components/angular-animate/angular-animate.js')
    script(src='bower_components/angular-route/angular-route.js')
    script(src='bower_components/angular-resource/angular-resource.js')
    script(src='//code.angularjs.org/1.4.9/angular-sanitize.js')

    script(src='js/controllers.js')
    script(src='js/filters.js')
    script(src='js/services.js')
    script(src='js/story-map.js')

  body
    header
      nav.navbar.navbar-inverse(role='navigation')
        #header-container.container-fluid
          h2
            a(href="//library.lafayette.edu") Skillman Library at Lafayette College
          h1
            a(href="/") Pure Food Project
        .container-fluid
          #navbar.navbar-collapse.collapse.row
            ul.menu.nav.navbar-left.col-xs-2
              a.navbar-brand.pull-left(href="//digital.lafayette.edu")
                img(src="img/dss_logo.png")
            ul#navbar-menu.menu.nav.col-xs-9.row
              li.col-xs-4
                a(href="/") Home
              li.dropdown.col-xs-3
                a.dropdown-toggle(href="#", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") Maps
                  span.caret
                ul.dropdown-menu
                  li
                    a(href="#") Map 1
                  li
                    a(href="#") Map 2
                  li
                    a(href="#") Map 3
                  li
                    a(href="#") Map 4
              li.col-xs-5
                a(href="#") Notes & Data
            ul.menu.nav.navbar-right.col-xs-1
              a.navbar-brand.pull-right(href="/")
                span.glyphicon.glyphicon-share(aria-hidden="true")
          .navbar-header
            button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
    block content
    footer
      include ./includes/footer.jade
